<ion-header>
  <ion-toolbar>
    <ion-title>
      {{address.countryName || "-"  }}
      {{address.administrativeArea || "-"}}
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="map_canvas"></div>
  <ion-button size="large" expand="full" color="dark" (click)="geo()">
    <ion-icon name="md-pin" name="ios-pin"></ion-icon>
    Add location
  </ion-button>
</ion-content>